h1{
  text-align: center;
  font-family: Helvetica;
  font-size:  100px;
  font-weight: bold;
  color: khaki;
}

h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#brushes{
  background-color: mediumspringgreen;
}

#frames{
  background-color: lightcoral;
}

#paint{
  background-color: skyblue;
}

#dasmoto{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}

.sales{
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
